---
name: Clippy analysis

on:
  push:
    branches:
      - "main"
    paths:
      - "**/*.rs"
      - "src/*"
      - "Cargo.*"
      - ".github/workflows/clippy.yml"
  pull_request:
    branches:
      - "main"
    paths:
      - "**/*.rs"
      - "src/*"
      - "Cargo.*"
      - ".github/workflows/clippy.yml"
  schedule:
    - cron: "0 2 * * 1"

jobs:
  rust-clippy-analyze:
    name: Run rust-clippy analyzing
    runs-on: ubuntu-latest
    permissions:
      actions: write
      contents: read
      security-events: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@stable
        with:
          components: clippy

      - name: Install required cargo
        run: cargo install clippy-sarif sarif-fmt

      - name: Run rust-clippy
        run: cargo clippy
          --all-features
          --message-format=json | clippy-sarif | tee rust-clippy-results.sarif | sarif-fmt
        continue-on-error: true

      - name: Upload analysis results to GitHub
        uses: github/codeql-action/upload-sarif@v4
        with:
          sarif_file: rust-clippy-results.sarif
          wait-for-processing: true
